body {
	font-family: sans-serif;
	background: #222;
	color: #ddd;
}

html, .fullscreen {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	margin: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.title {
	font-size: 3em;
}

.card {
	margin: 1rem;
	border: 1px solid gray;
}

@media screen and (min-width: 600px and max-width: 899px) {
	.card {
		flex: 1 1 calc(50% - 2rem);
	}
}

@media screen and (min-width: 900px) {
	.card {
		flex: 1 1 calc(33% - 2rem);
	}
}


