body {
	font-family: sans-serif;
	background: #222;
	color: #ddd;
}

.swal-modal {
	background-color: #333;
}

.swal-text, .swal-title {
	color: #fff;
}

a, a:hover {
	color: #fff;
	text-decoration: none;
}

/*
html, .fullscreen {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	margin: auto;
	text-align: center;
}

.title {
	font-size: 3em;
}
*/
